<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="list-nostyle">
        <div data-id="devp_status" data-view="PipelineStatus" data-title="DEV Pipeline" class="beta3"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="list-nostyle">
        <div data-id="qap_status" data-view="PipelineStatus" data-title="QA Pipeline" class="qa"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="list-nostyle">
        <div data-id="prodp_status" data-view="PipelineStatus" data-title="PROD Pipeline" class="prod"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" class="list-nostyle">
        <div data-id="devj_status" data-view="JenkinsStatus" data-title="DEV Jenkins" class="beta3"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" class="list-nostyle">
        <div data-id="qaj_status" data-view="JenkinsStatus" data-title="QA Jenkins" class="qa"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" class="list-nostyle">
        <div data-id="prodj_status" data-view="JenkinsStatus" data-title="PROD Jenkins" class="prod"></div>
    </li>
  </ul>
</div>
