<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="list-nostyle">
        <div data-id="beta3_status" data-view="ServerStatus" data-title="Beta3 Status"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="list-nostyle">
        <div data-id="qa_status" data-view="ServerStatus" data-title="QA Status" style="background-color:#EDBE32"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="list-nostyle">
        <div data-id="prod_status" data-view="ServerStatus" data-title="PROD Status" style="background-color:#B051B0"></div>
    </li>
  </ul>
</div>