<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="list-nostyle">
        <div data-id="beta3_status" data-view="ServerStatus" data-title="Beta3 Status" class="beta3"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="list-nostyle">
        <div data-id="qa_status" data-view="ServerStatus" data-title="QA Status" class="qa"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="list-nostyle">
        <div data-id="prod_status" data-view="ServerStatus" data-title="PROD Status" class="prod"></div>
    </li>
  </ul>
</div>
